body {
  background-color: burlywood;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contents {
  margin: 100px auto;
  text-align: center;
  width: 200px;
}

#btnClick {
  border: none;
  background: transparent;
  background-image: url('/static/btn.png');
  color: mediumblue;
  font-size: 16px;
  height: 36px;
  width: 180px;
}