<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Lesson</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
  <div id="contents">
    <!-- 画像読み込みを追加 -->
    <p>
      {% if message %}
      {{ message }}
      {% else %}
      Hello Flask
      {% endif %}
    </p>
    <button id="btnClick">Click Me!!</button>
  </div>
</body>
</html>
